@page
@model CEA.Web.Pages.Admin.Surveys.Questions.DeleteModel
@{
    ViewData["Title"] = "Soru Sil";
    Layout = "_Layout";
}

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="glass-card p-4 text-center">
            <i class="fas fa-exclamation-triangle text-danger fa-3x mb-3"></i>
            <h4 class="text-white mb-3">Soru Silme Onayı</h4>
            
            <p class="text-white/70 mb-4">
                Bu soruyu silmek istediğinize emin misiniz?<br>
                Bu işlem geri alınamaz.
            </p>

            <form method="post">
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="hidden" name="surveyId" value="@Model.SurveyId" />
                
                <div class="d-flex justify-content-center gap-2">
                    <a href="/Admin/Surveys/Edit?id=@Model.SurveyId" class="btn btn-outline-light">
                        İptal
                    </a>
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash me-2"></i>Evet, Sil
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>