@page
@model IndexModel
@{
    ViewData["Title"] = "Turkon Lojistik Müşteri Memnuniyeti Analiz Sistemi";
}

<div class="text-center">
    <div class="card shadow">
        <img src="~/images/CEA.png"
             class="card-img-top"
             alt="Müşteri Memnuniyeti Analizi">
        </div>
    </div>
